[2020-12-02 12:12] samuelgarcia opened #11 "Handle shanks."
@lfrank @bendichter @alejoe91
Thank you for your feedbacks.

@lfrank @bendichter,  you both mention how to handle multi shank probe.

I already thought about it and it is not implemented yet because I have a doubt and want feedback.

Now there is 2 classes Probe and ProbeBunch.

Have in mind that the package have several goals:
 * describe probes : the more precesly but simple
 * describe wring to

[2020-12-02 12:18] samuelgarcia opened #12 "Integration with NWB"
@lfrank @bendichter

You both mention NWB backend for handling probe geometry description.
I have NOT studied then yet.
I will.

Are theses two codes linked somehow ?

https://github.com/NovelaNeuro/ndx-franklab-novela
this seams to be a description of in house data management for recordings that also include probes description (with multi shank)

https://github.com/catalystneuro/ndx-spatial-coord

[2020-12-02 12:19] samuelgarcia commented on #12
About the ndx-franklab-novela I will use lots of fields propose by this project.

[2020-12-02 12:23] samuelgarcia opened #13 "Class names and semantic"
@alejoe91 @colehurwitz @lfrank @bendichter @rossant

You make me feedback about the naming.
I can change everything but need discussion first.

@lfrank propose to rename "Probe" to "Shank".
i think it is related to #11

@colehurwitz @alejoe91 propose to rename "ProbeBunch" to "ProbeGroup".
I feel that ProbeGroup is a bit sad...
Cyril any opinion, I known that you like the "bunch" semantic ?

[2020-12-02 12:24] samuelgarcia opened #14 "More desctiptions"
@lfrank have propose this

more ideas ?

[2020-12-02 13:35] bendichter commented on #11
I don't understand way 2. Could you elaborate?

[2020-12-02 13:38] bendichter commented on #12
ndx-spatial-coordinates is a work-in-progress. It's a project with the Allen Institute that encompasses several related topics: probe configuration, anatomical atlas, and transformations. We have started thinking about how to define objects in 2 and 3 d, so I thought it might be relevant for you. It's still a work-in-progress though, is likely to change, and currently has no documentation.

[2020-12-02 13:40] alejoe91 commented on #11
@bendichter instead of having a shank object, you would have a `shank_id` property for each electrode

[2020-12-02 13:44] bendichter commented on #11
@alejoe91 oh, I see. So that's fine as long as there are no shank attributes. If you want to define the geometry of a shank, position information, quality metrics, target brain region, or any other attributes, you'd need a shank object. I think it's likely we'll want shank attributes so I'd go with Way 1.

[2020-12-02 16:35] samuelgarcia commented on #11
I am not sure to anderstand you, Ben.

If we go for way1, the golden class will be "Shank" with its own geometry.
For me multi-shank Probe have a fixed and global geometry than include the multi shank.
For me we need a way to dscride vey easly one probe in one function.
If we go for 3 class hierachy I am afraid that making a probe object will be too verbose.

Maybe we can try a way in between wher

[2020-12-02 16:47] samuelgarcia opened #15 "Add 3d mesh"
@bendichter you also make feedback for having 3d mesh for the volumic probe description.

We already thought about it with @alejoe91.

At the moment, probe are **planar** and can be manipulated in 3d.

Having a full 3d description is also a goal for this package.
We need to handle several situation here:

  1. planar probe describe in 2d (already in = shape is a 2d polygon)
  2. planar probe descr

[2020-12-02 16:48] samuelgarcia commented on #12
Is it with Luke Campagnola ?

[2020-12-02 16:52] lfrank commented on #11
If it’s helpful, for our extension we have channel numbers that are within probe, so a probe with 4 shanks, 32 channels / shank has channel numbers 1-128, but to make it easier for the user to specify in a yaml file, they are grouped by shank (see example below). Given that one migth want to sort across shanks, I would be happy with any organization that maintains information about shanks.

Also,

[2020-12-02 17:05] samuelgarcia commented on #11
@lfrank what you propose if the "way 2" in my previous proposal.
The electrode id is global to probe but they belong to diffrerent shank.

For me the how it is represented in file is something else.
We can handle several format in the probeinterface.io : readable (or no) shank centric or probe centric.

here my question is more the object hierachy.

[2020-12-04 09:42] samuelgarcia opened #17 "Serialization and formats"
I plan to write several format/serialisation:
  * binary based with h5 already started and working (will change a bit)
  * some human readable like json/ymal/msgpack based a on big dictionary

My idea would be to have the main collections (downlodable from somewhere) in binary h5 because it is smaller.
Then possible conversipon to other formats with io functions.

Any feedback ?

@rossant @jonnew

[2020-12-04 10:10] samuelgarcia commented on #13
Done: ProbeGroup in #18

[2020-12-04 10:13] rossant commented on #17
Could you give an idea and post an example here of the contents of the file (field names, hierarchy, etc)?

[2020-12-04 10:17] samuelgarcia commented on #17
The hierachy will follow class hierachy. ProbeGroup>Probe
And attributes will same as the one in class.

electrode_positions
electrode_plane_axes
electrode_shapes
electrode_shape_params
device_channel_indices
electrode_ids
....

This is why I woul dfeedback on the naming/samantic itself for class name and attributes #13

[2020-12-04 10:17] samuelgarcia commented on #17
I will try to write write_yaml soon the example will be more easy.

[2020-12-04 10:32] rossant commented on #17
Do you need a new format, or would it be sufficient to (1) have a good in-memory data structure, (2) write import and export functions? If you have that you'll also have a universal conversion tool by the way.

[2020-12-04 10:42] samuelgarcia commented on #17
1. First  I want good a memmory structure representation in python. (Easy to use in other py package).
2. Then I want import/export to existing format (PRB, CSV ...)
3. Finally I want a way to serialize the entire memory structure to something quite universal (h5, json, ymal) to:
    * make everyone happy
    * build a downloadable collections of existing probes that contains all fields of the "me

[2020-12-04 10:47] rossant commented on #17
Yes it is! If there has to be a new format, I would strongly favor a text-based format (json or yam) over a binary one (HDF5, npy, etc). Much easier to edit, human-readable, etc. And only if one of the existing formats cannot/should not be used as a standard. FWIW: I would not think PRB would make a good choice for a "standard" (we chose Python as a file format because it was the easiest at the ti

[2020-12-04 11:13] samuelgarcia commented on #11
Shank started in #19
Need feedback.

[2020-12-04 11:20] samuelgarcia commented on #17
My main problem for human readable was if we have multi probe with sevral times 384 channels that themself handle with 6 to 8 vector (positions, shape, indices, shan_ids) then this "human readabl"e will be enormous and nobody will read it.
So finally it lead to enormous file that nobody reads.
Is is the case for PRB today, they are too big.

Maybe pure (hdf5) is also a good solution.

In any case

[2020-12-04 12:06] rossant commented on #17
How big are these text files today?

[2020-12-04 16:17] samuelgarcia commented on #11
Here an example for handling shank:
https://probeinterface.readthedocs.io/en/main/examples/ex_04_multi_shank_probe.html#sphx-glr-examples-ex-04-multi-shank-probe-py

[2020-12-04 17:34] jonnew commented on #17
What do you mean by enormous? The data these probes produce is on the order
of 100MB/second. Who cares how big the configuration file is?

All I want is some standardized, machine parsable format. Binary is not
good for this type of thing IMO because you want the file to be self
documenting. If JSON or XML is used, anybody will be able figure it out and
parse it.

On Fri, Dec 4, 2020 at 7:07 AM Cy

[2020-12-04 17:35] jonnew commented on #17
So, I agree with Cyrille on all points.

On Fri, Dec 4, 2020 at 12:33 PM Jon Newman <jpnewman@mit.edu> wrote:

--
Jonathan Newman
Postdoctoral Fellow, MIT
http://www.mit.edu/~jpnewman/

[2020-12-04 18:12] samuelgarcia commented on #17
Enormous is several thouands lines.
I known this is not big but several thousands is not "human readable".

OK for the self documenting.

So lets go JSON or XML or YAML for this format as default.
Any preference ?
I will do it very soon, so you can have a look.

[2020-12-04 20:13] rossant commented on #17
Since we probably don't need these files to be "human writable" I think we could go with JSON

[2020-12-07 11:47] samuelgarcia commented on #17
@rossant @jonnew
Cyril and Jon, thankd a lot for your feedbacks.

I have switch to JSON here #20
I leave this open for a while for otehrs feedback maybe.

I will also make some doc with a short example of the JSON generated file.
I will maybe add more keys for descriptions but main keys for the geometry are already here.
You could try it if you want.

[2020-12-07 12:58] samuelgarcia commented on #17
See also this https://probeinterface.readthedocs.io/en/main/examples/ex_06_import_export_to_file.html#sphx-glr-examples-ex-06-import-export-to-file-py

[2021-01-11 09:36] samuelgarcia commented on #11
I have relase today version 0.1.0 which handle Shank.

[2021-01-11 09:36] #11 closed

[2021-01-11 09:38] samuelgarcia commented on #12
Hi @bendichter.
I have release today version 0.1.0
The actual package contain a "read_nwb(...)" function which is empty at the moment.
When nwb format will have something about the spatial probe description it would be cool to implement this function as a proof of concept to test prointerface API.

[2021-01-11 09:38] samuelgarcia commented on #13
ProbeBunch > ProbeGroup in release 0.1.0

[2021-01-11 09:38] #13 closed

[2021-01-11 09:39] samuelgarcia commented on #14
At the moment all this fields can be put in annotations dict.

[2021-01-11 09:43] samuelgarcia commented on #17
@rossant @jonnew : I have relase today probeinterface 0.1.0.

After you feedback the format is now JSON based.
See https://probeinterface.readthedocs.io/en/main/format_spec.html

We have started a public probe library here : https://gin.g-node.org/spikeinterface/probeinterface_library

There only one probe at the moement there as a proof of concept.

We are in contact with some manufacturers to bu

[2021-01-11 09:43] #17 closed

[2021-01-14 12:35] samuelgarcia opened #31 "Implement read_mearec(...)"
For @alejoe91

[2021-01-14 14:20] samuelgarcia opened #32 "Implement read_maxwell(...)"
maxwell device generate an hdf5 file that contain mea activated channel and there locations.

This could render a Probe object with `read_maxwell(...)`

@yger is this for you, do not disappoint me!

[2021-01-15 10:16] samuelgarcia commented on #32
#34

[2021-01-19 15:28] samuelgarcia commented on #32
Close by #34

[2021-01-19 15:28] #32 closed

[2021-02-15 14:45] samuelgarcia opened #39 ""conctact" or "electrodes""
@JuliaSprenger @alejoe91 @bendichter

In the discussion on BIDS extention [here](https://github.com/INCF/neuroscience-data-structure)
 julia suggested to replace "electrode" semantic by "contact".
Any thought about this ?

I think we should follow the same semantic here and in this BIDS extention.

[2021-02-15 15:04] samuelgarcia opened #40 "Fix read_spikeglx"
With https://github.com/SpikeInterface/spikeextractors/issues/561
we should fix this `read_spikeglx`
x_pitch/y_pitch seems to be wrong.
 Is it NP depend ? @alejoe91 ?

[2021-02-15 15:08] samuelgarcia commented on #39
See this doc
https://docs.google.com/document/d/1oG-C8T-dWPqfVzL2W8HO3elWK8NIh2cOCPssRGv23n0/edit#

[2021-02-15 15:17] JuliaSprenger commented on #39
In the document we also started off with 'electrode', but in discussions with experimentalists 'contact' turned out to be better defined and less ambiguous than `electrode`, as an electrode can also be understood as having multiple 'contacts', e.g. tetrodes.

[2021-02-15 16:27] samuelgarcia commented on #39
Alessio, any comments ?

[2021-02-16 07:41] alejoe91 commented on #39
Hi guys, both of them are fine in my opinion. If 'contact' received better feedback from experimentalists, we should go with that

[2021-02-16 07:42] alejoe91 commented on #40
Yes will do!

[2021-02-24 17:36] samuelgarcia commented on #39
close with #44

[2021-02-24 17:36] #39 closed

[2021-04-02 08:12] #31 closed

[2021-04-15 13:49] Enakcihc opened #56 "ASSY-77>AdptA64-Om32x2-sm>RHD2164 connector"
We are using a connection from an acute Cambridge probe ASSY-77-H3 via a Neuronexus adaptor A64  -> 2x Omnetics 32 and finally connect to the intan headstage RHD2164. It is quite a common connection for so would be great to make it as an available automatic connection.

[2021-04-15 15:37] alejoe91 commented on #56
Hi @Enakcihc

If you have the mapping, it would be great if you made a pull request to add it. The pathways should go here: https://github.com/SpikeInterface/probeinterface/blob/main/probeinterface/wiring.py

We'd be happy to review it and double check the mapping with you :)

[2021-04-15 17:27] samuelgarcia commented on #56
I have the file.
I will push the mapping.

[2021-04-28 09:38] Shivooone opened #58 "Neuropixel probe geometry"
Hello,

Is there a probe file for Neuropixel probes? I haven't found it on the library.

Thanks a lot,
Shiva

[2021-04-28 10:01] samuelgarcia commented on #58
neuropixel don't have fixed channel map but dynamic channel map since you can choose 384 channel mong 1000 physical contacts.
This is why it is not in the library.

But you have `probe = read_spikeglx('my_spike_glx_data.meta')` function that read the dynamic channel map from a spikeglx dataset.

If you recording come from open ephys, I don't know yet how the channel map channel positions is done b

[2021-05-06 19:14] #40 closed

[2021-05-06 19:14] #56 closed

[2021-05-06 19:14] #58 closed

[2021-05-06 19:14] #15 closed

[2021-05-11 05:06] timsainb opened #61 "Setting channel groups on probe"
How do you set the channels groups on a probe. e.g. if I'm using a neuronexus A4x2-tet-7mm-150-200-121, I have 4 shanks, with two groups of tetrodes per shank. How can I set channel_groups accordingly? I couldn't find it in the documentation.

Thanks!

[2021-05-11 06:55] samuelgarcia commented on #61
There is no grouping in probeinterface.
It is only for probe description.
The grouping is an "interpretation" for the sorting.

On spikeinterface side, you can do `Recording.set_probe(probe, group_mode='by_probe'/'by_shank')`.
On spikeinterface side you can even make grouping at whatever level you want, use it for slicing to get sub recording.
All probe information are also sliced and attached to

[2021-05-14 18:57] timsainb commented on #61
Good to know, thanks!

[2021-05-14 18:57] #61 closed

[2021-06-21 15:00] JuliaSprenger opened #63 "Check consistency with BEP032 version 0.2.0"
[BEP032](https://bids.neuroimaging.io/bep032) had some updates recently. We should check for consistency between the current probeinterface version and BEP032 version 0.2.0.

[2021-06-29 11:55] ChrisCurrin commented on #32
thought I would add that this is not exposed in the `__init__.py` file

[2021-09-21 14:46] rf13734 opened #69 "Possible channel map discrepancy ASSY-77 H3 probe"
Hi there!

[2021-09-22 11:11] samuelgarcia commented on #69
Hi @rf13734.
I think this is a known bug
See this https://gin.g-node.org/spikeinterface/probeinterface_library/issues/1

I think the problem is in the probe mapping json file and not the pathway (wiring.py).

I haven't yet merge the PR on gin because I would prefer to regenerate the entire probe collection (maybe some other probe ahev the same bug) with my own script.

I will try to do it soon.

b

[2021-09-22 15:13] rf13734 commented on #69
From what I can tell, it would still not match the channel map from Cambridge Neurotech nor the 0-indexed version of this. Would that still be okay?

[2021-09-22 16:59] samuelgarcia commented on #69
#55
@Enakcihc have help me to test and validate this. @Enakcihc : could you comment ?

The mapping which is tricky was also validated by @alejoe91 maybe we did it the wrong.

@rf13734 : could make the logic of pathway again blindly (without reading the doc you have and without our solution) just by following the pathway to check ?

Note that pathway logic do not depend on the probe but on connecto

[2021-09-23 08:59] rf13734 commented on #69
Is it the case that e.g. electrode 36 corresponds to contact 36 on the adaptor?

I have already contacted Tahl to see if he can give any pointers.

I noticed that  the error was fixed by Aaron Wong, but as far as I can tell, it would still result in a channel map that appears to have some 0-indexed channels, and some other 1-indexed channels?

Also, is the probe.device_channel_indices the inxx lay

[2021-09-23 20:34] Enakcihc commented on #69
Hi Ross,
Indeed as @samuelgarcia mentioned, this is a two-step connection and is a bit complicated. Especially true is that there are two ways to plug in the omnetics connector between the Intan headstage and the adapter. Right now the connection "ASSY-77>Adpt.A64-0m32_2x-sm>RHD2164" matches the orientation we plugged in:  the headstage with the circuit board elements facing the probe side. In the

[2021-09-23 20:51] Enakcihc commented on #69
Channel map given to kilosort2 is like this:
[code]

which seems to have the same values as yours, but in order.

[2021-09-24 07:28] samuelgarcia commented on #69
@rf13734
 * channel_index :  is only the order in which the conact are listed. It is not really important.
* contact_id : is the manufacturer "name" sometimes 1-based. Sometime this corespond to the omnetics by convinience but not
  always
* device_channel_indices : is the channel at headstage (or more precisely recording device) level. It is always 0-based.

[2021-09-24 16:04] rf13734 commented on #69
Hi @Enakcihc

Hi Ross,

Ahh okay, I have in26 = electrode 60 rather than 43 (the deepest electrode on H3 probe).

I have in46 = electrode 15 - I confirmed with Tahl that this is the preferred way to connect, but I guess it doesn't matter as long as the connections are tracked right?

![image](https://user-images.githubusercontent.com/43117750/134704634-7155a810-c71a-41e6-a989-dc81b2f07ffe.png)

I

[2021-09-24 16:38] samuelgarcia commented on #69
I don't follow.
I think "in14" (intan) is plugged on "ometic 15"  no ?

[2021-09-24 16:50] rf13734 commented on #69
![image](https://user-images.githubusercontent.com/43117750/134712004-37a38cbe-902d-466b-9910-c0b2dd01bfcd.png)
in14 to omnetic 15 Like this?

[2021-09-24 16:56] rf13734 commented on #69
![image](https://user-images.githubusercontent.com/43117750/134712865-f44abcc4-f9cf-457e-bfdc-1fe7387ae5de.png)

[2021-09-24 17:01] rf13734 commented on #69
@samuelgarcia I have in14 paired with omnetic /electrode 38 instead.

[2021-09-24 17:36] Enakcihc commented on #69
Hi Ross,

We are using the same Intan headstage, but the channel map for the adaptor seems to be different from yours.

We have  the A64-OM32x2-sm Adaptor from NeuroNexus, with the following channel map.
![image](https://user-images.githubusercontent.com/24752170/134716989-41f89394-5db5-40d2-b215-59fec2b55f33.png)
![image](https://user-images.githubusercontent.com/24752170/134717034-36822fcc-8856-

[2021-10-09 06:00] TheChymera opened #70 "Tests fail in network sandbox"
I am currently working on packaging the SpikeInterface stack for Gentoo Linux. As part of this the tests can be run at install time in a sandbox, which however is not given network access in order to avoid code injection.

The following tests fail without network access:
[code]

Is there a way to:
1. Improve the tests so they can cover this functionality without outbound access (this may very well

[2021-10-11 14:09] musicinmybrain commented on #70
Interesting timing—I’m packaging this for Fedora Linux, and I’m in the same situation. I can skip tests individually easily enough.

I can trivially set any environment variable, if that’s the path you choose. Some projects that require pytest use [markers](https://docs.pytest.org/en/6.2.x/mark.html).

Most upstreams don’t provide any particular organized way to skip networked tests, so thanks for

[2021-10-21 00:09] marcoistasy opened #72 "Circular Probe"
Hello, I am opening this up in relation to [Issue #313](https://github.com/SpikeInterface/spikeinterface/issues/313) in [`SpikeInterface`](https://github.com/SpikeInterface/spikeinterface).

I am wondering if there is a way to create a circular probe with eight equidistant contacts? I know that there is a [`create_auto_shape`](https://github.com/SpikeInterface/probeinterface/blob/b5b5bfc21e4f3d806

[2021-12-10 14:31] vincisLab opened #80 "Problems loading the 'ASSY-116-H4' probe from cambridge neurotech"
Hi all,

we are experiencing some problems ,  importing the 'cambridgeneurotech','ASSY-116-H4' probe (we have no issue loading another probe we are using the ASSY-116-P-2).

What can be the issue?

Thanks!

--------------------------------------------------------------------------
This is the code:
import probeinterface as pi
from probeinterface import plotting
probe =pi.get_probe('cambridgeneurot

[2021-12-13 07:36] samuelgarcia commented on #80
This sounds like a problem of certificate from https://gin.g-node.org/spikeinterface/probeinterface_library
Maybe the others probe were already downloaded in local cache.
Could you try again ?

[2021-12-14 09:35] Dradeliomecus opened #81 "Crash when loading prb file"
Hi,

I'm trying to load the geometry of my probe using `probeinterface`.
However, it crashes because of this line, where the channel id is taken, but that doesn't work in out case:

https://github.com/SpikeInterface/probeinterface/blob/4c34a06293cd7a5602293829155a884d0f50a9fe/probeinterface/io.py#L451

Here is my prb file:
[code]

Here is the crash report:
[code]

Is my prb file wrong, or is it a

[2021-12-14 10:17] samuelgarcia commented on #81
Oh no. SOrry. there is a bug in the uimplementation of probeinterface.
I will fix this soon. Sorry.

[2021-12-15 12:49] samuelgarcia commented on #81
I understand now your problem.
`'geometry'` is supposed to be a dict in our implementation instead of a list of list.

So something like this:

[code]

in that case the acutal implementation is working.

Were did you get this PRB ? it sounds like a variant of PRB.
The main problem with PRB format is that nobody never specify it really but many tools use it (klusta, spyking-circus, tridesclous, the

[2021-12-15 15:53] vincisLab commented on #80
Hi Samuel,

yes you are right. Now it is working.

[2021-12-15 16:55] Dradeliomecus commented on #81
I believe it came from `Cambridge Neurotech` with the probe.

Thank you for the answer, we'll try it!

[2021-12-15 19:51] #80 closed

[2022-02-14 15:51] phanhuynh commented on #58
Hi Samuel: I know that there is a settings.xml file from the Open-Ephys recording folder but I don't know how to use it.  Do you have any advice for that?

[2022-02-14 16:42] samuelgarcia commented on #58
Could you open an issue here : https://github.com/SpikeInterface/probeinterface
and give use this file so we can implement the read oe probe directly ?

[2022-02-14 17:49] phanhuynh opened #85 "settings.xml file from Neuropixels, Open Ephys"
Hello everyone, I'm using spikeinterface to analyze Neuropixel (1.0) data from Open Ephys.  However, I'm missing the ProbeInterface probe object.

Perhaps I'm supposed to use the settings.xml generated by OE but not sure how.
[settings.txt](https://github.com/SpikeInterface/probeinterface/files/8062881/settings.txt) (I had to change the format from xml to txt in order to attach it)

I've also trie

[2022-02-15 07:40] samuelgarcia commented on #85
Hi @phanhuynh.
Thanks you for this file.
I don't see any obvious section in this file that would contain the conatct contact position on NP probe.
Could you dig a bit into the open-ephys doc and send us a link on how to retrieve this locations please ?

[2022-02-15 07:46] alejoe91 commented on #85
I think that the channel locations are not stored in the settings for openephys. @jsiegle can you confirm this? In that case we can store all the locations for np1 and np2 probes in probeinterface and select the channels based on the settings

[2022-02-15 18:19] jsiegle commented on #85
As of version 0.3.3 of the Neuropixels PXI plugin, the channel locations (in microns from the tip) are stored in the `settings.xml` file. There's also a button within the the Neuropixels settings interface that directly exports the probe settings in ProbeInterface JSON format.

See [this page](https://github.com/open-ephys-plugins/neuropixels-pxi/releases) for full release notes.

[2022-02-16 09:58] phanhuynh commented on #85
@jsiegle, thank you!  I got the json file.
@alejoe91 , it's version 0.3.4-API7

Quick follow up:  what's the python code to set the probe in spikeinterface?  I tried:

probe = read_probeinterface('probe.json')
set_prob(probe)

Which doesn't work.  I feel like this should be obvious but I just can't find it online.  Thank you again.

[2022-02-16 10:14] alejoe91 commented on #85
What's the full error?

[2022-02-16 10:42] phanhuynh commented on #85
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_9584/4189760159.py in <module>
      1 probe = read_probeinterface('probe.json')
----> 2 set_prob(probe)

NameError: name 'set_prob' is not defined

[2022-02-16 10:44] phanhuynh commented on #85
Note, however, that read_probeinterface does work.
![image](https://user-images.githubusercontent.com/54812682/154248440-529a54a9-7f88-4710-9dda-51b80dad346a.png)

[2022-02-16 11:12] alejoe91 commented on #85
Ah! yeah there is a typo!

This is what you should do:
[code]

[2022-02-16 11:20] phanhuynh commented on #85
Unfortunately, it gives me this error:

---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_9584/2040178160.py in <module>
      1 probe = read_probeinterface('probe.json')
----> 2 recording.set_probe(probe, in_place=True)

~\anaconda3\envs\si_env\lib\site-packages\spi

[2022-02-16 12:34] alejoe91 commented on #85
Ah I see, it's a probe group. Use `recording.set_probegroup(...)` instead

[2022-02-16 16:12] phanhuynh commented on #85
I don't think I'm using a probe group (it's neuropixels), but here's the new error:
(note that there's a typo in the error message: set_proce)
---------------------------------------------------------------------------
Exception                                 Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_7760/3053197239.py in <module>
      1 probe = read_probeinterface('probe.

[2022-02-16 18:17] alejoe91 commented on #85
Can you share both the settings.xml and the probe.json?

[2022-02-16 22:12] phanhuynh commented on #85
Hi @alejoe91 , here is the json file (I had to convert to txt for github):
[probe.txt](https://github.com/SpikeInterface/probeinterface/files/8083929/probe.txt)

The settings.xml file can be found in my first post in this issue (also converted to txt).
Thank you, again, so so much for all your attention :)

[2022-02-18 10:10] phanhuynh commented on #85
Hello @alejoe91 and @jsiegle , I just wanted to make sure that you're not waiting on me to provide anything.  Thank you for your help!

[2022-02-18 11:08] alejoe91 commented on #85
@phanhuynh can you try this?

[code]

or:
[code]

The problem is you cannot use `in_place` because the open-ephys NPIX recording has an extra channel which is the SY channel. The suggest approach instead should work because it selects a subset of channels.

[2022-02-18 11:26] phanhuynh commented on #85
Hi @alejoe91 , I tried both:
![image](https://user-images.githubusercontent.com/54812682/154672630-000657f0-d15d-4eab-9920-37945eb46ca7.png)
![image](https://user-images.githubusercontent.com/54812682/154673503-126c4c7a-fa8f-47d1-b128-3b250a422776.png)

For both, when I apply the sorters (tridesclous and spykincircus), the error says "ValueError: There is not Probe attached to recording. use set_p

[2022-02-18 11:29] samuelgarcia commented on #85
Hi,
 You have to run sorter with the `recording_w_prb` object.

[2022-02-18 11:40] phanhuynh commented on #85
Yes, thank you!  It seems to be working so far!  You guys are amazing!

[2022-02-18 11:49] alejoe91 commented on #85
Thank you!! :) :) :)

[2022-02-18 11:49] #85 closed

[2022-03-02 15:13] Dradeliomecus commented on #81
Hi,

We've tested the code, and we're having some issues.
Here is the code with the same `arch.prb`:

[code]

We get the following error:
[code]

We are using the latest versions of `spikeinterface` and `probeinterface`.

[2022-03-02 15:27] samuelgarcia commented on #81
You need to do
`recording_with_probe = recording.set_probegroup(probegroup)` and then use recording_with_probe
or
`recording = recording.set_probegroup(probegroup)`

[2022-03-02 15:42] Dradeliomecus commented on #81
Ah yes, I feel kinda dumb ^^'
I keep forgetting `spikeinterface` uses this king of setters.

Thank you!

[2022-03-02 15:42] #81 closed

[2022-03-16 11:09] phanhuynh opened #88 "seeking json file for Buzsaki64 and/or Buzsaki32 probes"
Hello SI community, has anyone created a probeinterface json file for NeuroNexus's Buzsaki64 or Buzsaki32 probes?  I would be deeply grateful!  (I'm using them through openephys but I don't think that's relevant)

[2022-03-17 07:43] samuelgarcia commented on #88
Hi Phan,
yes, at the moment neuronexus probe are not implemented in the library.
We get few contribution, if you make it please send us the json we can push it.
A simple way to do it is making an excel file with necessary columns and then use `Probe.from_dataframe()`

[2022-03-18 10:17] mfvd opened #92 "Possible mismatch on cambridge neurotech ASSY-37-Fb"
Hello,

I loaded the information of this probe and noticed that the channels ids do not match the ones found on cambridge neurotech's website (same map as the one provided with the probes).

Any idea what might be causing this mismatch?

<img width="658" alt="cn_website" src="https://user-images.githubusercontent.com/78389068/158984950-66969611-af80-40db-856d-c6d74a560e6e.png">

<img width="815" a

[2022-03-18 11:11] alejoe91 commented on #92
Hi @mfvd

Thanks for the mismatch report. We'll double check with the CambridgeNeutotech team and let you know!

Cheers,
Alessio

[2022-03-22 18:23] vincisLab opened #95 "Still problems loading probes from library"
Hello,

we are still experiencing issues when trying to load probes from library.
For example

`import probeinterface as pi
from probeinterface import plotting

probe = pi.get_probe(manufacturer='neuronexus',
            probe_name='A1x32-Poly3-10mm-50-177')
`

will give

---------------------------------------------------------------------------
SSLCertVerificationError                  Traceback

[2022-03-23 09:59] phanhuynh commented on #88
Hi @samuelgarcia , thank you for the tip.  I was able to do the following:

`buzsaki64probe = pd.read_csv('probeinterface/buzsaki64probe.csv')`
[buzsaki64probe.csv](https://github.com/SpikeInterface/probeinterface/files/8331878/buzsaki64probe.csv)
`buzsaki64probe = probeinterface.Probe.from_dataframe(buzsaki64probe)`
`plot_probe(buzsaki64probe)`
![image](https://user-images.githubusercontent.com/5

[2022-03-23 13:34] samuelgarcia commented on #88
Hi Phan,
the probe looks good.
The difference between channel_index and contact_id is super impportant.
It related to the mapping between conact (number on the probe) and channel on your recording system (open ephys for instance.
Very often the "mapping" (aka wiring) is complex due to headstage internal wiring.
This mapping can be done manually or automatically if you use implemented headstage (in

[2022-03-26 13:37] musicinmybrain commented on #70
It occurred to me that I should link the Fedora Linux RPM spec file in case the details are helpful for other distribution packagers:

https://src.fedoraproject.org/rpms/python-probeinterface/blob/rawhide/f/python-probeinterface.spec

[2022-03-28 13:44] phanhuynh commented on #88
Again, thank you @samuelgarcia!  I'm testing the probe file now.  Once I think it works, I'll upload it to the library (although, I'm not sure how many others will have the same configuration that I have.)

[2022-03-30 12:21] benkiisma opened #100 "Sorting doesn't take into consideration the loaded probe"
Hello,

In my code, I uploaded a predefined file containing information about my probe :
[code]
After sorting, the resulting prb file is :

[code]

This leads to a wrong analysis of the data ! Do you know from what the issue could come?

Thank you very much for your help.

[2022-03-30 13:13] alejoe91 commented on #100
Hi, can you share the entire code so we can take a look? Internally, when you load a probe object the probe is sorted in a linear way, but positions should be as well. So it would be nice to take a look at the entire example!

[2022-03-30 15:14] alejoe91 commented on #100
You need to pass `recording_prb` to the `run_klusta()` function, not `recording`!

[2022-03-30 15:18] samuelgarcia commented on #100
`load_probe_file` is the old spikeinetrface API. The old API do not use probeinterface at all.
You should go for the new one.

[2022-03-30 15:36] benkiisma commented on #100
You mean I have to add recording_probe to the parameters of 'run_klusta()' ?? Because if I replace it, how can klusta sort the data if I don't give the data to the function ?  'recording' is the variable containing the recorded data while 'recording_prb' is just the geometry and the graphs of the probe !

[2022-03-30 15:37] benkiisma commented on #100
Yes !! I am trying to switch from the old API to the new one !!

[2022-03-30 15:37] benkiisma commented on #100
Thank you, I will try this !!

[2022-04-02 11:32] benkiisma commented on #100
Hello, I tried to apply the function you proposed and read the tutorial but I still have an error when trying to link the probe to my recording.
Here is the code I use :
[code]
**The error is :**
[code]

[2022-04-02 12:47] alejoe91 commented on #100
So the `read_prb()` function returns a `ProbeGroup` because it can describe multiple probes. You can use the `recording.set_probegroup(probe)` instead!

[2022-04-02 14:42] benkiisma commented on #100
Thank you @alejoe91 I can set de recording probe now !! However, after sorting, the probe is still not taken into consideration. Here is my probe before sorting:
[code]

And here it is after sorting :

[code]

As you can see, the 'graph' part is not taken into consideration.

[2022-04-02 15:14] alejoe91 commented on #100
The graph part is only used by klusta. Once loaded to spikeinterface, the other sorters directly use the loaded information with the channel locations.

[2022-04-02 15:18] benkiisma commented on #100
I understand. So as klusta is not running on spikeinterface anymore, I will have to run it using the docker to get the graph part into consideration, right ?

[2022-04-02 16:34] alejoe91 commented on #100
You could install python 3.7 and install klusta in it. But with later Python version only the docker solution is available

[2022-04-03 20:18] acomrie opened #101 "Set plane_axes when make recording from nwb"
Hello, I am in the Frank lab at UCSF, and I use SpikeInterface as part of our NWB-DataJoint system (https://github.com/LorenFrankLab/spyglass). When I try to make a Recording from an NWB, I am getting a ValueError because I haven't specified plane_axes. We aren't sure of the recommended way to specify plane_axes. This occurs with SpikeInterface 0.94.0.dev0 and ProbeInterface 0.2.8, and it seems th

[2022-04-04 11:15] samuelgarcia commented on #101
Your recording have 3 dimension for probe description.
Sorter don't handle 2D.

You need to go to 2d
[code]

[2022-04-04 19:37] lfrank commented on #101
Hi Samuel. That makes sense, but the problem we're having is when we try to create the recording extractor, not when we try to sort. We need to be able to send the axes in to the recording extractor creation call, and we don't know how to do that.

[2022-04-04 19:45] alejoe91 commented on #101
Hi @lfrank

Is it from current master? Could you send me an nwb file that triggers the error so I can make sure that no bug arises?

[2022-04-05 00:39] acomrie commented on #101
Hi @alejoe91, yes, we are on the current master. I just emailed an nwb file for you to test whether this replicates on your end. Thanks so much.

[2022-04-05 07:55] alejoe91 commented on #101
Thanks for the file @acomrie

I was indeed able to reproduce the error and pushed a fix here: https://github.com/SpikeInterface/spikeinterface/pull/584

[2022-04-05 14:22] acomrie commented on #101
Will give it a try once it has been merged. Thanks @alejoe91 !

[2022-04-06 16:53] phanhuynh opened #102 "In WaveformView, channel locations incorrect"
Hello ! First, thank you for your help!
In Phy's WaveformView, the location of the channels do not match the location I entered into the probeinterface.
Here is the probe file I put into spikeinterface:
[buzsaki64probe.csv](https://github.com/cortex-lab/phy/files/8428890/buzsaki64probe.csv)

![image](https://user-images.githubusercontent.com/54812682/162026197-4d81bd1d-5e96-46f3-98a1-75b19a1c9a3b.

[2022-04-08 19:16] acomrie commented on #101
I've just done a quick test so far, but that fix seems to be working for us. Thank you!

[2022-04-08 19:16] #101 closed

[2022-04-11 13:43] h-mayorquin opened #104 "Outdated string documentation in `io.read_spikeglx()`"
The following link in the documentation seems broken.

https://github.com/SpikeInterface/probeinterface/blob/196f203dc22fcdd788e27a61c77d0bd83b2ed418/probeinterface/io.py#L715

@samuelgarcia

[2022-04-12 15:08] phanhuynh commented on #102
Hello folks, any ideas?

[2022-04-12 15:46] phanhuynh commented on #102
Thank you so much, @alejoe91
![image](https://user-images.githubusercontent.com/54812682/163001075-79323e09-1300-48bf-8bff-1c565b3271ef.png)
[nnexus.txt](https://github.com/SpikeInterface/probeinterface/files/8474506/nnexus.txt)

[2022-04-12 16:02] alejoe91 commented on #102
Can you check that the `recording_saved` has the correct probe info by plotting the probe map for it?

[2022-04-12 16:04] alejoe91 commented on #102
Also note that you are not loading the separate shanks as groups. to use that you have to use the `set_probe(probe, group_mode="by_shank")` option. (Not sure if this is intentional)

[2022-04-13 08:50] phanhuynh commented on #102
The recording_saved looks good:
![image](https://user-images.githubusercontent.com/54812682/163137764-10ee3a04-ac2d-43d5-9ed1-edd6519adcfe.png)

However, I could not execute set_probe(probe, group_mode="by_shank")
---------------------------------------------------------------------------
[code]

[2022-04-13 09:35] alejoe91 commented on #102
You should use `recording.set_probe(buzsaki64probe, group_mode="by_shank", in_place=True)`

[2022-04-13 10:12] phanhuynh commented on #102
Thank you!  There are no errors this time, but the original problem persists:
![image](https://user-images.githubusercontent.com/54812682/163156337-d1f19f3a-78e4-4382-a9d8-4dd083ee761b.png)

[2022-04-13 10:24] alejoe91 commented on #102
Can you load the `channel_positions.npy` in the Phy folder and plot them?

[2022-04-13 12:10] phanhuynh commented on #102
It seems to work:
![image](https://user-images.githubusercontent.com/54812682/163176954-4bbc0ddb-6156-4a80-942e-7561e598a10d.png)

[2022-04-13 12:34] alejoe91 commented on #102
Can you try to add `plt.axis("equal")`?

[2022-04-13 13:05] phanhuynh commented on #102
![image](https://user-images.githubusercontent.com/54812682/163186526-e598a20e-cbb4-4468-b3f6-98108a89c2f9.png)

[2022-04-13 13:17] alejoe91 commented on #102
so positions are correct! It's just a scaling issue ;)

[2022-04-13 14:03] alejoe91 commented on #102
Did you load with `group_mode="by_shank"`?

[2022-04-13 14:29] phanhuynh commented on #102
Yes

[2022-04-13 14:40] alejoe91 commented on #102
you should have a column called `group`. The `sh` column is generated internally by Phy and we don't have control over it

[2022-04-13 15:06] phanhuynh commented on #102
I added a column called group, but I don't see any difference.  Is it possible that it's not necessary?

[2022-04-13 15:55] phanhuynh commented on #102
I see, thank you!  Do you have advice on how to set the groupings correctly:
![image](https://user-images.githubusercontent.com/54812682/163221004-614f415f-d820-4f7f-b0c1-3a5b02abaf3d.png)

[2022-04-13 15:58] alejoe91 commented on #102
that's weird. Are you sure you resaved the recording after loading the probe with `by_shank`? You can check: `recording_saved.get_channel_groups()`

[2022-04-14 09:36] phanhuynh commented on #102
It's weird, indeed.  I've deleted the previous folders and re-ran the whole script:
![image](https://user-images.githubusercontent.com/54812682/163357783-e5f0bc72-3ed5-4f9f-916c-cd5c892a182e.png)
And yet it still doesn't group:
![image](https://user-images.githubusercontent.com/54812682/163357832-2b4a486d-def7-40db-9c1a-8a30ad209a88.png)

[2022-04-14 10:15] alejoe91 commented on #102
Ok then this might be a deeper bug, maybe related to the order in which we load probe and properties. I'll take a closer look :)

[2022-04-14 10:18] samuelgarcia commented on #102
Maybe it is the set_probe(inplace=True).
inplace=True is not the reommended way.
`rec = rec.set_probe(inplace=False)` is better but maybe this is unrelated.

[2022-04-14 10:41] alejoe91 commented on #102
No I think this is related to the fact that the probe is loaded as extra_metadata and we don't propagate the `group_mode`...

[2022-04-14 13:06] alejoe91 commented on #102
@phanhuynh I checked on my side and the channel groups are propagated as supposed to be:
![image](https://user-images.githubusercontent.com/17097257/163396739-d29fa3d3-030c-4fff-a505-28537bbbdc0b.png)

Maybe try to remove the folder with the recording or use a different name. It should be working.

[2022-04-14 15:28] phanhuynh commented on #102
Perhaps your test is different because you recording is already grouped.
Mine is not grouped:
![image](https://user-images.githubusercontent.com/54812682/163422457-f5868731-304d-4a65-9183-bfbb1ea4eda9.png)

Furthermore, there is still no grouping after I set_probe:
![image](https://user-images.githubusercontent.com/54812682/163422796-2876a5c1-f91a-46e6-b119-c28947c5d909.png)

[2022-04-14 17:27] alejoe91 commented on #102
You are not using `group_mode='by_shank'`! This is how I added groups

[2022-04-14 17:28] alejoe91 commented on #102
Or actually you are using set_probe twice. The first one is enough

[2022-04-15 08:47] phanhuynh commented on #102
Good catch!  Thank you.  So now the grouping is working:
![image](https://user-images.githubusercontent.com/54812682/163548697-895c7b90-636b-4063-a335-e76a90729ef1.png)

But not in Phy:
![image](https://user-images.githubusercontent.com/54812682/163548786-98875b5e-5c40-40c6-8c2a-d711351e9f1a.png)

However, it's not clear to me that it matters.  Does it?

[2022-04-18 11:04] mfvd commented on #92
Hi @alejoe91
Any news concerning this issue? I've also emailed cambridge neurotech but haven't heard from them yet.
Cheers

[2022-04-19 09:50] phanhuynh commented on #102
Hello again, sorry to take up so much of your time.  Just curious whether it matters if sh and channel_group remains all 0s.  Thank you!

[2022-04-19 10:04] alejoe91 commented on #102
no, that's internal to Phy ;) channel groups are loaded back to spikeinterface with the `read_phy` function, so the `sh` column is really irrelevant!

Let me know if I can close the issue then!

[2022-04-19 10:07] phanhuynh commented on #102
wonderful.  Thank you so much!  Yes, feel free to close :)

[2022-04-20 08:06] #102 closed

[2022-05-12 12:40] MarineChap opened #106 "Load Open-ephys probe data with multi-shank"
Hello,
I am trying to load a multishank recording like this but it does not seems to work.

Based on this comment in read_openephys,    _# TODO get example of multishank for parsing_ ([L911](https://github.com/SpikeInterface/probeinterface/blob/main/probeinterface/io.py#L911)), does that means we cannot load yet multishank probe from open-ephys ? Or the problem is elsewhere?

[code]

Probe interfa

[2022-05-12 13:15] alejoe91 commented on #106
Hi Marine, thanks for the report. I can't see any shank info in the settings file..however, the probe shoulf be loaded automatically. Can you try to run this?

[code]

and let me know if you get errors?

[2022-05-12 14:51] alejoe91 commented on #106
Thanks for checking! That's weird because you are indeed using the Neuropic-PXI plugin!

The SpikeInterface only tries to load the probe, but if it fails it doesn't throw an error. At least we should display a warning though!

I'll try to reproduce and fix the error from the settings file you provided :)

[2022-05-12 14:56] MarineChap commented on #106
The detection of the processor is based on the name which for me is different (Sources/Neuropix-PXI) instead of Neuropix-PXI. I will investigate why mine is different. I think it is due to how I installed it (develop mode) but anyway I think you would be better checking on the plugingName attribute which will stay constant.
After the hackathon meeting, i can do some tests to confirm it.

[2022-05-13 14:36] MarineChap commented on #106
About the shank number, from the code ([L1288](https://github.com/open-ephys-plugins/neuropixels-pxi/blob/de8abc9b531b1f469ed9fb442439bbd824cc5ee2/Source/UI/NeuropixInterface.cpp#L1288)), it is indeed the second number in CH0="0:0" that gives you the shank.

[code]

Be careful there of the PosX and PosY with multiple shanks,  I guess the 250 * shank would be a problem for you no?

But that also me

[2022-05-13 16:18] alejoe91 commented on #106
Thanks for pointing to the code! I'll implement the same logic into probeinterface making sure the shank info and 250 shift!

@jsiegle is it possible that the shank id is not correctly saved to the settings.xml? There seems to be a mismatch between the imro and the OE settings.

[2022-05-13 19:32] jsiegle commented on #106
The shank index is written properly with the latest version of the Neuropixels plugin (example file [here](https://github.com/SpikeInterface/probeinterface/files/8690808/settings.txt)). We're currently investigating why the correct shank indices didn't get stored in Marine's case.

[2022-05-16 07:06] alejoe91 commented on #106
And shank ids loaded here: https://github.com/SpikeInterface/probeinterface/pull/107 (this is the data from @jsiegle)

![image](https://user-images.githubusercontent.com/17097257/168537525-179f7b00-cca1-442e-9360-d10b4a8e7628.png)

[2022-05-16 08:12] #106 closed

[2022-05-16 10:20] MarineChap commented on #106
Thanks for the fix !

[2022-05-23 14:05] mfvd opened #109 "Multiporbe recording"
Hello,

I've been experimenting recording with two probes simultaneously and was wondering what could be the best option to deal with the channel layouts. Would it make sense to create a single probe object with 6 shanks (3 per probe) and sort the data by shank? At first glance this seems like a viable option.

It would be nice if someone could share their experiences with such layouts :)

Cheers,

[2022-05-23 14:25] alejoe91 commented on #109
Hi @mfvd

You can also create 2 probes in probeinterface, then make a `probegroup` and add them as separate spikeinterface groups with:

[code]

This will load the two probes and assign different channel groups. Then you can use the [`spikeinterface.sorters.run_sorter_by_property()`](https://github.com/SpikeInterface/spikeinterface/blob/master/spikeinterface/sorters/launcher.py#L46) function to sp

[2022-05-23 14:52] mfvd commented on #109
Hi @alejoe91

Thanks for tour quick reply!

Just to make sure I understood correctly:
Would it still be possible to run the sorter by shank or would the group property now be the probe?

[2022-05-23 16:08] samuelgarcia commented on #109
This `group_mode` have a role on how to set the group property.

By probe:
[code]

By shank:
[code]

Then internally, `spikeinterface.sorters.run_sorter_by_property` use the `recording.split_by(self, property='group')`

Note that you can use any property also for the splitting.

[2022-05-23 21:45] mfvd commented on #109
Hi @samuelgarcia

Ok, that makes sense. I'll give it a try!

Thanks

[2022-05-24 12:43] mfvd commented on #109
Hi @alejoe91  @samuelgarcia

I've tried Samuel's apporach and got the following error:

[code]
I set the device channel indices manually for each probe. Any idea of what error I've made?

[code]

[2022-05-24 12:46] alejoe91 commented on #109
As the error suggests, the device channel indices are not unique. You need to shift the second set by the number of channels in the first probe ;)

[2022-05-24 12:57] mfvd commented on #109
Stupid error on my part...
I was certain `device_channel_indices_2 = [element + 32 for element in device_channel_indices_2]` was doing just that and did not spot a duplicate value in my list

thanks for the help @alejoe91

[2022-05-24 15:58] mfvd commented on #109
I'm now having the following error:

[code]

I set the probe indices and channel ids for the second probe and the values seem to be correct. Not sure what to do next.

[code]

[2022-05-24 16:35] samuelgarcia commented on #109
You need to do
[code]

[2022-05-25 10:40] mfvd commented on #109
@samuelgarcia
Thanks!

[2022-05-27 08:57] JuliaSprenger opened #110 "Limited channel_id - contact_id mapping"
Currently probeinterface is expecting a 1-1 match of channel_ids and contact_ids. However in some cases multiple channels were recorded from a single contact (e.g. different frequency ranges). Is there a workaround from the probeinterface side. Do you recommend using a 2nd fake probe to link to the additional channel_ids?

[2022-05-30 07:08] samuelgarcia commented on #110
If you use probeinterface from spikeinterface, you always have a unique `channel_id` for a given recording which is a unique stream. So in that case the problem do not occurs.

In spikeinterface multi stream format like blackrock must be loaded as separate objects.

probeinterface do not have the concept of `channel_id` we have `contact_id` and for the wiring : `channel_device_index`.
In short whe

[2022-05-31 16:55] DayanZc opened #111 "to_numpy conflict with spikeglx recordings saving only a subset of channels."
Hi,
I am currently trying to read spikeGLX data with spikeinterface, from a Neuropixels 1.0 probe with a number of saved channels <384. This seems to cause an issue in probeinterface probe.to_numpy as probeinterface.read_spikeglx() will determines the number of contacts by reading the 'len(meta['snsShankMap'])' which is the number of saved channels <384. However, the 'contact_ids' is of size 384 n

[2022-05-31 17:02] samuelgarcia commented on #111
Hi,
Thanks for the report.
In short, you saved 200 channels in the bins but the meta have 384 channels ?
Could you send us the meta file ?
Where is the info of which channel are saved ?

[2022-06-01 07:45] DayanZc commented on #111
Hello,
Worse than that : the meta file has some entries with 384 channels (the imro table defining the gains, connected bank of each electrode, etc.) whereas the channel map and the shank map only have 200 channels (well 201 actually but it holds true).
The info is stored under the "nSavedChannels" parameter.
Here is the meta file as a .txt for GitHub support
[Day_1_g0_t0.imec0.ap.meta.txt](https:

[2022-06-24 11:33] nasnass opened #112 "Trouble loading probe file in SI"
so I have the following probe file (named probe1.prb) for a single electrode recording with one channel.
total_nb_channels = 15000
radius            = 250
channel_groups    = {
	1 : {
		'channels': list(range(1)),
		'graph' : [],
		'geometry' :{
			0 :[ 0,0],
		}
	}
}

I've tried running:
probe = pi.read_prb('probe1.prb') to load the file

I then try to save it so that I can pass it to the sorter

[2022-06-24 12:11] alejoe91 commented on #112
Hi @nasnass

How are you saving the probe? What is `data`? Can you paste your script?

[2022-06-24 12:12] alejoe91 commented on #112
Also note that herding spikes is not designed for single channels!

[2022-06-24 12:50] nasnass commented on #112
Thank you for the hint about herding spikes! I am also trying to sort the data using spyking circus.

Data is the data that is being used -hdf file which is read in using : data = h5py.File(filename, 'r')

I think saving the probe is exactly my problem, there was another issue open on this matter, however I tried the steps there and it didn't resolve my problem.

probe = pi.read_prb('probe1.prb')

[2022-06-24 13:20] alejoe91 commented on #112
Ok, so the issue is that `data` is an `h5py.File` object and it has no `Probe` field. What you get from reading with probeinterface in addition is a `probeinterface.Probe` object, which cannot be added to an h5 file. I'm not sure exactly what you're trying to do. Are you using spikeinterface to run spike sorting?

In that case, I would suggest you use either WaveClus or combinato as sorters, as th

[2022-06-29 09:19] #112 closed

[2022-06-29 13:48] LiesDec opened #113 "Load Open-ephys Neuropixels PXI recording with sync channel appended"
The Neuropixels PXI plugin has the option to append the **sync line **  to the data stream as a continuous channel (see [documentation](https://open-ephys.github.io/gui-docs/User-Manual/Plugins/Neuropixels-PXI.html#synchronization)). That means that the `continuous.dat` file now has one channel more than is specified in the probe settings. This causes an error when loading the files as there is a

[2022-06-29 13:52] alejoe91 commented on #113
Thank you for the issue! Can you share a small test file with the `sync` channel enabled? Ideally, something super short would be great (like 1s) and it doesn't need to have real data. We use these kind of data in [this repo](https://gin.g-node.org/NeuralEnsemble/ephy_testing_data) to test multiple cases for different acquisition devices :)

[2022-06-29 14:19] alejoe91 commented on #113
@LiesDec you can send it to us via email and we'll take care of uploading it :) My email in the [docs](https://spikeinterface.readthedocs.io/en/latest/authors.html). Also send us the details of who made the recording and in which lab so we'll add those info as "acknowledgments"

[2022-06-29 15:54] samuelgarcia commented on #113
No the blacrock sortig is not ported. But if you need it this could be done with a wrapper.

[2022-07-01 12:04] LiesDec opened #114 "Neuropixels PXI probe info loading two probes attached"
There is an error in loading the channel information when having two probes attached to one headstage with the neuropixels 2.0.
In loading the recording you immediately specify which data stream you want to read (0, or 1) which corresponds to the two different probes attached to the same headstage

[code]

When reading the channel info for setting the probe, the data stream is not taken into accou

[2022-07-01 12:10] LiesDec commented on #113
@samuelgarcia Great that you're already on this issue. Do you still need a dataset then? :)

Also, I noticed that I only have the loading error when I have only one neuropixel 2.0 attached to the headstone (one data stream). When I have two and the sync channel appended as continuous channel I do not have the reading error (despite if for sure being registered).  Maybe this is related to this othe

[2022-07-04 14:37] LiesDec commented on #114
@alejoe91 Shall I try to create a pull request for this?

[2022-07-04 14:40] alejoe91 commented on #114
Hi @LiesDec

Actually yes, I'm a bitt busy these days! Thank you!

[2022-07-05 11:54] Aryo-Zare commented on #113
Is the dataset needed and already uploaded ?
If not, I activated sync channel in all of my recordings. Hence I may provide my recordings.

[2022-07-05 11:57] samuelgarcia commented on #113
We already have the dataset with sync I think

[2022-07-15 13:57] AntonioST opened #115 "Channel Editor?"
Do you have any plan for providing the channel editor, such as the channel editor in Open Ephys? For now, I am using the 4-shank Neuropixels, and I found the channel editor in Open Ephys is so simple that it is hard to understand the rule behind the Neuropixels.
For example, only one electrode can be selected as readout channel from all electrodes shared with same channel ID. I cannot easy finding

[2022-07-18 07:36] samuelgarcia commented on #115
Hi Antonio,
I am not sure to follow you.
The purpose of probeinterface is to read several probe description format and unify then with a simple object model.

I never used the OpenEphys channel editor. So I can't tell anything.
What I guess is that it is a tool to select 384 channel among 1024.
The NP probe have many constrain on how channel can be selected because of adc groups.
Such an editor/se

[2022-07-18 10:20] PaolaGith opened #116 "New probe interface for Cambridge Neurotech"
Hello,
 I am currently using a 64 channels, 2 shanks probe from Cambridge Neurotech ASSY-77 H10, which is not available in the list.
Is it possible to add it, so that I can automatically use it with spikeinterface?

Thank you!

[2022-07-26 09:22] MarineChap commented on #114
@alejoe91 Hello, I am doing the follow-up for Lies on this issue. I can do the PR but I am wondering how you think we should proceed to select which channelmap we want.  If I return a probegroup containing both probes, open-ephys will be able to handle it correctly and select the right one based on the stream_id ? That's the way to go  or you would prefer that we add a stream_id parameters to sele

[2022-07-26 14:23] CodyCBakerPhD opened #118 "Utah Arrays (or other 3D contour shapes)?"
@alejoe91 @samuelgarcia

Discussion from earlier today: how best to add support for describing the contour geometry for non-silicon probes like a Utah array?

Current support as I understand is only for planar geometries described by polygons.

Some ideas as I recall from the discussion were adding planar triangular/conal descriptions like the point of the tip and the height of the cone.

Another

[2022-07-26 14:25] CodyCBakerPhD commented on #118
CC: @bendichter @D1o0g9s

[2022-07-26 21:27] D1o0g9s opened #119 "plot_probe() requires xlims and ylims to be defined for either to work"
https://github.com/SpikeInterface/probeinterface/blob/d1d594af3f97d94fbf04df2b208c3bd8e2ea148d/probeinterface/plotting.py#L168-L169

It's unclear that both xlims and ylims are both needed for plotting to be limited in either of these dimensions individually. Perhaps this is unintended consequence, and we should be able to set an automatic limit for the non-specified direction if only one were spec

[2022-07-27 19:05] CodyCBakerPhD commented on #12
@D1o0g9s will be helping with this task a bit

Some pseudo-code design for reading NWB without the use of the extension @D1o0g9s is putting together, as well as a modular step-by-step bite-size tasklist

# 1

read stuff in probeinterface.io

[code]

# 2

In neuroconv.tools.probeinterface

[code]

# 3

read more complete information (if available) in probeinterface.io

[code]

[2022-08-04 14:28] LiesDec commented on #114
@alejoe91
I found another issue regarding the loading the probe data of neuropixel data with open-ephys.
The electrode `positions` and  `channel_names` are loaded in the same order as they are written in the `settings.xml` file.
see [#L896-L915](https://github.com/SpikeInterface/probeinterface/blob/main/probeinterface/io.py#L896-L915)
[code]

In later code,  it is assumed that the electrode positi

[2022-08-04 18:39] LiesDec commented on #114
Hi Samuel,

I'm on a little holiday over the weekend from Friday at noon. But we could schedule something next week on Monday, 2.30pm CEST?

[2022-08-05 07:40] alejoe91 commented on #114
Sounds good! :) I'll send you an email!

[2022-08-05 10:35] #72 closed

[2022-08-05 10:37] #100 closed

[2022-08-05 10:37] alejoe91 commented on #95
@vincisLab sorry to get back to this so late! Any update?? Were you able to doenload the probe from the library?

[2022-08-05 10:40] alejoe91 commented on #119
Thanks @D1o0g9s

I agree it should be allowed to just pass lims in one axis. Note that you can always generate an external `ax` and pass it to the `plot_probe`. Then you can set lims for x and y axis as you will ;)

[2022-08-05 15:14] vincisLab commented on #95
Hi @alejoe91, yes now everything is working properly.

[2022-08-05 15:25] alejoe91 commented on #95
Closing then!

[2022-08-05 15:25] #95 closed

[2022-09-28 15:01] mfvd opened #127 "Mapping from ASSY-37-Fb .json is different from pi.get_probe(manufacturer, probe_name)"
Hello,

The channel mapping does not match when loading the file downloaded from [HERE](https://gin.g-node.org/spikeinterface/probeinterface_library/src/master/cambridgeneurotech/ASSY-37-Fb/ASSY-37-Fb.json) using `probe1 = pi.read_probeinterface('ASSY-37-Fb.json')` and when loading probe information using the function below

[code]
Channel ids from the probe and device are correct and the mismatch

[2022-09-28 15:45] mfvd commented on #127
OK, that makes sense! Works fine :)
cheers

[2022-09-28 15:45] #127 closed

[2022-10-10 13:02] musicinmybrain opened #133 "All top-level directories installed to site-packages"
Since the package was converted to `pyproject.toml` for 0.2.12, there are things in the `site-packages` directory that should not be there:

[code]

Note that the top-level `doc`, `examples`, `resources`, and `tests` directories from `probeinterface` have been installed into the virtualenv-wide (or system-wide, if installed that way) `site-packages`.

[2022-10-10 13:10] musicinmybrain commented on #133
I’ve offered one candidate fix in https://github.com/SpikeInterface/probeinterface/pull/134.

[2022-10-20 12:43] alejoe91 opened #138 "Add tests for phase3A neuropixel arrays"
https://github.com/SpikeInterface/probeinterface/pull/126 implements reading capability for Neuropixels phase3A.

However, we are still missing a test file and tests.

@rtraghavan @samuelgarcia

[2022-10-21 17:19] TomBugnon opened #141 "incorrect wiring with io.read_spikeglx ?"
Hi,

Sorry if I'm getting confused again with probe wiring, but `probeinterface.io.read_spikeglx(metapath)` doesn't seem to reflect user channel order properly.

Here is what I get with
[code]

<img width="678" alt="image" src="https://user-images.githubusercontent.com/14128078/197252169-dbf2f28b-1e31-43ed-9998-8eab1564bc14.png">

It is the same plot with `order_channel_by_depth=False`

and here i

[2022-10-21 19:18] samuelgarcia commented on #141
Hi.
For spikeglx, channel_ids and contact_ids are in the same order because organise in the same the same.
There is no complex "wiring" there contrary to neuronexus+intan+openephys for instance.

I guess that in your config channel are already order by depth naturaly. So odering for display do not play a role.

[2022-10-25 14:31] TomBugnon commented on #141
Hi,
Thanks for your response.
Sorry, I don't understand. Initializing the probe with this method gives different results than setting directly x and y coordinates for each channel.

Here's what the probe, contact locations recording look like with `read_spikeglx(metapath)`. It says channels span the first 3000um although this probe was configured such that channels actually span 7600um:
<img width

[2022-10-25 15:13] samuelgarcia commented on #141
Hi Tom.
This is really really annoying!!
This would means that we have a strong bug in the way we are reading the channel location from the meta file.

I have to admit that I do not have too much knowledge about that

@MarineChap @jenniferColonell:
could you coordinate to compare how we are reading the meta file between the 2 repos:
https://github.com/jenniferColonell/ecephys_spike_sorting/blob/ma

[2022-10-25 15:15] samuelgarcia commented on #141
@TomBugnon : could you send us your meta file so we could include it in our tests suite ?

[2022-10-25 15:21] TomBugnon commented on #141
Sorry if I'm a bearer of bad news here.

Also, now I am noticing: in `plot_timeseries()` the y axis seems to be inverted relative to how `phy` shows depths (in phy: 0 = tip of probe. Here it looks like 0=furthest from tip). In this recording most spikes are in the thalamus, towards the tip of the electrode.  This is what the recording looks like in Phy (with channel_map obtained as I said previous

[2022-10-25 15:56] TomBugnon commented on #141
Yep looks correct with 0.96.0, thanks
<img width="300" alt="image" src="https://user-images.githubusercontent.com/14128078/197821509-97d94038-9226-4720-ba2b-202b326dd21b.png">

@samuelgarcia
https://uwmadison.box.com/s/afo1h104392dnd2md561e3bxsq622p6t

[2022-10-25 16:40] jenniferColonell commented on #141
Hi guys,

So, is the incorrect geometry problem solved with the newer version of SpikeInterface? Or are there still some differences in how Spikeinterface is interpreting metadata that need to be resolved?

thanks!

jennifer

________________________________
From: TomBugnon ***@***.***>
Sent: Tuesday, October 25, 2022 11:56 AM
To: SpikeInterface/probeinterface ***@***.***>
Cc: Colonell, Jennifer *

[2022-10-25 16:53] samuelgarcia commented on #141
@jenniferColonell : no the new version only solve the flip top/down of the image of time series.

The channel map diffrerences are unsolved.

[2022-10-25 17:03] samuelgarcia commented on #141
@MarineChap: could b ethat this line should use `elec_id` instead of  `channel_id`
https://github.com/SpikeInterface/probeinterface/blob/main/probeinterface/io.py#L839

Or maybe this the very recent patch by @rtraghavan:
https://github.com/SpikeInterface/probeinterface/pull/126
https://github.com/SpikeInterface/probeinterface/blob/main/probeinterface/io.py#L806

[2022-10-25 17:05] samuelgarcia commented on #141
@TomBugnon : could your try to get the actual master and then to comment line from 806 to 829 in io.py.
And tell us if it fix the problem ?

[2022-10-25 17:31] alejoe91 commented on #141
thank you @TomBugnon

This is really helpful, we'll do more tests on our side and hopefully fix this by the end of the week!

[2022-10-25 17:44] alejoe91 commented on #141
@TomBugnon can you test this? https://github.com/SpikeInterface/probeinterface/pull/142

[2022-10-25 17:56] TomBugnon commented on #141
@alejoe91  Looks good with #142  !

The probe map is correct, the recording shows properly.
Channel X and Y coordinates are identical except for a translation along X-axis (MetatoCoord takes probe edge as origin, read_sglx takes lower-left channel I believe)
<img width="261" alt="image" src="https://user-images.githubusercontent.com/14128078/197847014-54f4b9a7-61a5-4df2-8f1a-a46aa6f59af5.png">

Th

[2022-10-25 17:58] grahamfindlay commented on #141
Hi all. In case it is helpful, I have an ImecMap class that uses Jennifer's code to parse the Neuropixel 1.0 Imec Readout Table (imro) and Imec Channel Map (cmp) directly from a .bin file's metadata (or other sources) and, and puts together a handy table that keeps straight the user order, channel order, electrode site, channel id, x and y coordinates, etc. We use funky probe layouts all the time,

[2022-10-25 17:59] alejoe91 commented on #141
Awesome! I guess we only have test data with standard configs so we never spotted this. I'll double check that everything is the same also for NP2 and include your files for testing, then we'll merge and make a new release. Sorry about the hassle!

[2022-10-25 18:03] jenniferColonell commented on #141
Site to channel mapping for NP2 is significantly different than NP1.0 – which I assume you know, but just in case!
My code is correct as far as I know, and the IBL code using the shank map also works.

From: Alessio Buccino ***@***.***>
Sent: Tuesday, October 25, 2022 2:00 PM
To: SpikeInterface/probeinterface ***@***.***>
Cc: Colonell, Jennifer ***@***.***>; Mention ***@***.***>
Subject: Re: [Spik

[2022-10-25 18:04] alejoe91 commented on #141
Thanks @jenniferColonell

Do you happen to have some test meta files for now probes, also with non-standard configurations?

[2022-10-25 18:17] jenniferColonell commented on #141
Hi Alessio,

I’ll generate a few for you.

jennifer

From: Alessio Buccino ***@***.***>
Sent: Tuesday, October 25, 2022 2:05 PM
To: SpikeInterface/probeinterface ***@***.***>
Cc: Colonell, Jennifer ***@***.***>; Mention ***@***.***>
Subject: Re: [SpikeInterface/probeinterface] incorrect wiring with io.read_spikeglx ? (Issue #141)

External Email: Use Caution

Thanks @jenniferColonell<https://urlde

[2022-10-25 19:52] jenniferColonell commented on #141
OK, here’s a little variety of 2.0 metadata. They are probably wackier patterns than most experiments would use – but that’s the point.

I have to say: although my code translates these using the imro table, its actually more efficient to use the snsShankMap. My code suffers from my history of first making a routine to create the imro tables (and I should fix that). While imro table entries are di

[2022-10-25 19:57] alejoe91 commented on #141
Thanks @jenniferColonell

I don't see the attachments though. Could you send them over on slack?

[2022-10-25 19:58] jenniferColonell commented on #141
Sure, I’ll send you a dm.

From: Alessio Buccino ***@***.***>
Sent: Tuesday, October 25, 2022 3:58 PM
To: SpikeInterface/probeinterface ***@***.***>
Cc: Colonell, Jennifer ***@***.***>; Mention ***@***.***>
Subject: Re: [SpikeInterface/probeinterface] incorrect wiring with io.read_spikeglx ? (Issue #141)

External Email: Use Caution

Thanks @jenniferColonell<https://urldefense.com/v3/__https:/gith

[2022-10-25 20:01] jenniferColonell commented on #141
Should have specified: I sent the attachments via the Neuropixels slack.

From: Alessio Buccino ***@***.***>
Sent: Tuesday, October 25, 2022 3:58 PM
To: SpikeInterface/probeinterface ***@***.***>
Cc: Colonell, Jennifer ***@***.***>; Mention ***@***.***>
Subject: Re: [SpikeInterface/probeinterface] incorrect wiring with io.read_spikeglx ? (Issue #141)

External Email: Use Caution

Thanks @jenniferC

[2022-10-26 11:48] samuelgarcia commented on #141
THanks all for the help and feeback.
Alessio find the bug.
@jenniferColonell : do you allow us to push publically (in the repo) some of your files for running CI tests ?

[2022-10-26 14:47] jenniferColonell commented on #141
No problem about pushing the code, with attribution, but which code is it?

________________________________
From: Garcia Samuel ***@***.***>
Sent: Wednesday, October 26, 2022 7:48 AM
To: SpikeInterface/probeinterface ***@***.***>
Cc: Colonell, Jennifer ***@***.***>; Mention ***@***.***>
Subject: Re: [SpikeInterface/probeinterface] incorrect wiring with io.read_spikeglx ? (Issue #141)

External Em

[2022-10-27 08:10] alejoe91 commented on #141
Fix released in [0.2.14](https://pypi.org/project/probeinterface/0.2.14/) and release notes here: https://probeinterface.readthedocs.io/en/main/releases/0.2.14.html

Note that the bug was introduced on Sept. 1st 2022, so not too long ago.

Thank you all for reporting it, providing test data, and support!

[2022-10-27 08:10] #141 closed

[2022-11-03 19:53] TheChymera opened #145 "pypi archive doesn't package tests"
I generally prefer to reference pypi archives for packaging under gentoo, mainly because some developers have the habit of retroactively “fixing” releases on github, which leads to checksum mismatch and packages needing to be re-tested. While this hasn't happened with probeinterfaces, it would be cool if we could use pypi.

Sadly the archive does not include the test suite:

[code]

would you be i

[2022-11-09 07:48] samuelgarcia commented on #145
Hi Christian.
Contrary to other package (spikeinterface) we choose to put the "tests" folder outside the code folder because it contains some small testing files (txt, meta, txt, prb). This would make the `pip install probeinterface` a bit more heavy.

If you need this folder for gentoo packaging we can had it in the tar.gz.
I think it would be cool to not have it in the wheel. No ?
Maybe there is

[2022-11-09 16:50] TheChymera commented on #145
@samuelgarcia yes, that would be great! we do not use the wheel, so `.tar.gz` is the only place where it would actually make a difference :)